
body{
  margin: 0;
}

.contenedor{
  width: 800px;
  margin: auto;
}
p,h1{
  text-align: center;
}
ul li
{
  display: inline-block;
  padding-left: 20px;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header, section
{
  display: flex;
  flex-wrap: wrap;
}
.fondo{
  opacity: .5;
  margin: 0;
}
